@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300|Lato:400,700,900|Open+Sans:300,400);
.cardx {
    cursor: pointer;
    font-size: 30px;
    position: relative;
    line-height: 0;
    height: 500px;
    max-width: 800px;
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
/*    background-color: #fff;*/
}
/* ---- Photo Overlay ---- */

.photo-desc {
    color: #black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex; /* For centering text inside .photo-overlay */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EFEFEF;
    line-height: 0;
}
/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}




/**/
.container{

       perspective: 1000px;
}

.cardx {
     margin: auto;
      transform-style: preserve-3d;
        transition: transform .4s ease-in;

/*  transition: transform 1s cubic-bezier(.55, -.62,.27,1.2);*/
}

.side-a,
.side-b {
  backface-visibility:hidden;
}

.side-b {
transform: rotateX(180deg);}


.cardx.flip {
  transform: rotateX(-180deg);
}


.card-selected{
    color:red;
}

.card-disabled {
    transition: color 2s;
    color: orange;
}

.matching-game-container {
    background-color: #f0f0f0;
    max-width: 1600px;
    margin: 40px auto 0 auto;
    display: flex;
    align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}


.matching-game-card {
    background-color: #fff;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
      border:  1px solid rgba(0,0,0,0.22);
    height: 200px;
    display: flex;
    cursor: pointer;
}

@media only screen {
    .matching-game-card {
           width: 50%;
    }
}

@media only screen and (min-width:  600px) {
    .matching-game-card {
           width: 33%;
    }
}


@media only screen and (min-width: 960px) {
    .matching-game-card {
           width: 25%;
    }
}

.cardx{
    position: relative ;
    user-select: none;
}
.flashcard-flip-icon {
        position:   absolute;
        right: 10px;
        bottom:    10px;
          opacity: 0.5;
}






.matching-game-card.correct-guess {
    cursor: default;
}

.matching-game-text {
    font-size: 24px;
    margin: auto;
    user-select: none;
     text-align: center;
}

.correct-card-guess{
        animation: correct-card-guess 1s ease-in-out 0s 1 forwards;
}

.wrong-card-guess{
        animation: wrong-card-guess 1s ease-in-out 0s 1;
}

.selected-card {
    background-color: yellow;    
}

.disabled-state {
    visibility: hidden;
}



@keyframes correct-card-guess{
    0% {
        background-color : green;
        opacity: 1;
        scale: 1;
    }

    100% {
        opacity: 0;
        scale: 0;
    }
}


@keyframes wrong-card-guess{
        0% {
        background-color : red;
        
    }

    100% {
        background-color : white;
    }
}

.website-body {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 2em;
}


.example-enter{
    opacity: 0.01;
   transform: translateX(-300px);
}



.example-enter.example-enter-active {
    opacity: 1;
       transform: translateX(0px);
         transition: opacity .3s ease-out, transform .3s ease-out;

/*     transition: opacity 500ms ease-in;
        transition: transform 500ms ease-in;*/
}


.example-leave {
  opacity: 1;
     visibility: hidden;
}

.example-leave.example-leave-active {
  opacity: 0;
transition: opacity .3s linear, transform .3s linear;
/*  transition: opacity 300ms ease-in;*/
}


.layered-paper {
    max-width:800px;
    margin: 0 auto;
    background: #eee;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        0 10px 0 -5px #eee, /* The second layer */
        0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        0 20px 0 -10px #eee, /* The third layer */
        0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
}


.radio-group-question *{
       -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing:content-box;
}

.radio-group-question{
    cursor: pointer;
       font-size: 16px;
          user-select: none;
}

.quizContainer {
    max-width: 750px;
    margin: 0 auto;
}

.question-category-container {
    margin-bottom: 20px;
}
.question-category-header {
  font-family: Lato;
  font-weight: 700;
  padding: 10px;
  font-size: 24px;
  color: #333 ;
}


  .question-label {
  font-family: Lato;
  padding: 10px;
  font-size: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 700;
    color: #333 ;
}

.question-choice-label {
  font-family: Lato;
  padding: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 900;
    color: #333 ;
}

.question-container {
    padding-bottom: 16px;
}

.unselectable {
    user-select: none;
}

/*.quiz-result-progress-bar {
    margin-bottom: 0px;
}*/